@charset "UTF-8";

/* 共通 */

#header .logo {
    line-height: 0;
}

.item-group img {
    border-radius: 30px;
    width: 100%;
}

.inner {
    margin-bottom: 120px;
}

.inner .title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.inner .text {
    font-size: 16px;
    line-height: 1.8;
}

/* item-group */

.item-group {
    width: 100%;
    height: 1300px;
    padding-bottom: 60px;
    position: relative;
}

.item-group .item1,
.item-group .item2,
.item-group .item3,
.item-group .item4 {
    position: absolute;
}

.item-group .item1 img {
    width: 100%;
    max-width: 700px;
    height: 460px;
    object-fit: cover;
}

.item-group .item2 img {
    width: 100%;
    max-width: 450px;
    height: 300px;
    object-fit: cover;
}

.item-group .item3 img {
    width: 100%;
    max-width: 570px;
    height: 380px;
    object-fit: cover;
}

.item-group .item4 img {
    width: 100%;
    max-width: 640px;
    height: 430px;
    object-fit: cover;
}

.item-group .item1 {
    top: 0;
    left: 10%;
}

.item-group .item2 {
    top: 329px;
    left: 60%;
    z-index: 10;
}

.item-group .item3 {
    top: 628px;
    left: 20px;
    z-index: 10;
}

.item-group .item4 {
    top: 947px;
    left: 35%;
}

/*------------------------------------------ 
タブレット 
------------------------------------------------------*/
@media (max-width: 1024px) {}

/*------------------------------------------ 
スマートフォン 
------------------------------------------------------*/

@media (max-width: 767px) {

    
.inner {
    margin-bottom: 60px;
}

/* item-group */

.item-group {
    width: 100%;
    height: auto;
    padding-bottom: 0;
    position: static;
}

.item-group .item1,
.item-group .item2,
.item-group .item3,
.item-group .item4 {
    position: static;
    margin-bottom: 40px;
}

.item-group .item1 img,
.item-group .item2 img,
.item-group .item3 img,
.item-group .item4 img
{
    max-width: 100%;
    height: 100%;
}

}